body {
    margin: 0;
    background-image: url("images/white-theme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: 'Monoton', 'cursive';
    color: #ffffff;
    background-color: #000000;
    opacity: 0.8;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffffff;
    opacity: 0.6;
}
  
.nav a {
    text-align: center;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Fredoka One', 'cursive';
    font-size: 17px;
}
  
.nav a:hover {
    background-color: #000000;
    color: #ffffff;
}